
* {
    box-sizing: border-box;
}

body {
    padding-left: 100px;
}

.headingRow{
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    margin:20px;
    /*background-color: black;*/
    background-color: wheat;
}

span {
    color: black;

}

.clsBtns {
    background-color: green;
    margin: 20px;
    padding: 20px;
    height: 100px;
    width: 150px;
    border: 2px solid #4CAF50;
    border-width: 10px;
    color: white;
    
}

.divQuizTypes {
    border: black;
    margin: 5px;
}

/* places the button in the center of the div */
.startButton {
    display: flex;
    align-items: center;
    justify-content: left;
    visibility: hidden;
}

.hrLine {
    border: 1px solid red;
    width: 120px;
    height: 0px;
}

.quizContent {
    width: 100%;
    height: 100%;
}

.buttonResults {
    width : 100%;
    margin : 2px;
}

table, th, td {
    border: 1px sold black;
    border-style: outset;
}
th, td {
    padding: 5px;
    text-align: left;
}
